<div class="container">
  <div [hidden]="submitted">
    <h1>Formulario de Consulta</h1>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="form-group">
        <label for="name">Número de DNI</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          ¡Ingrese el número de DNI valido!
        </div>

      </div>



      <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Consulta</button>

      <div>
        <hr>
        DNI = {{showFormControls(heroForm)}}
      </div>
     <!-- - -->
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>Tu consultaste lo siguiente:</h2>
    <div class="row">
      <div class="col-xs-3">Reporte</div>
      <div class="col-xs-9">{{ model.name }}</div>
    </div>

    <br>
    <button class="btn btn-primary" (click)="submitted=false">Volver</button>
  </div>
</div>

